<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sercan#1000</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .nav-link:hover{
          text-decoration: underline;
        }
    </style>
</head>
<body>   
    <div id="app">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm navbar-light fixed-top" id="nav" style="background: white;">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold fst-italic" href="#" >sercwn</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#hakkimda">Hakkımda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#yaptigimIsler">Projelerim</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#yorumlar">Yorumlar</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <!-- HAKKIMDA -->
        <div class="mt-5 pt-5 pb-2 pb-sm-5 position-relative" style="background: rgb(255, 193, 7);" id="hakkimda">
            <div class="container bg-white border border-5 border-warning p-5 rounded">
                <h2 class="text-center fw-bold border-bottom mt-3">HAKKIMDA</h2>
                <div class="row d-flex flex-column-reverse flex-lg-row">
                    <div class="col-12 col-lg-8">
                        <p class="fw-bold my-5 h5">
                            Merhaba, benim adım Efe. 👋                        </p>
                        <p>
                            Yaklaşık 3 ay yazılım ve programlama ile ilgileniyorum (Ücretli olarak) ve site, uygulama vb. yapıyorum. <a href="https://wa.me/+22501532113">İletişim için WhatsApp!</a>  
                        </p>
                        <p>
                            İnstagram sayfamı takip edebilirsiniz <a href="https://instagram.com/losweredit?igshid=ZDdkNTZiNTM=">İnstagram Sayfam!</a>
                        </p>
                            </div>
                    <div class="col-8 offset-2 col-lg-4 offset-lg-0 d-flex justify-content-center align-items-center">
                      <img src="img/profil-photo.jpg" class="h-75 rounded-circle mt-4 mt-lg-0 overflow-hidden" alt="profil-photo">
                    </div>
                </div>      
            </div>
        </div>
        <!-- Projelerim -->
        <div class="py-5 border-bottom" id="yaptigimIsler">
            <div class="container">
                <h2 class="text-center fw-bold border-bottom">GİTHUB PROJELERİM</h2>
                <div class="accordion mt-5" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item my-3 border-top shadow-sm" v-for="(project, index) in githubProjects">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#' + 'head-' + index" aria-expanded="false" :aria-controls="'head-' + index">
                        {{ project.name }}
                      </button>
                    </h2>
                    <div :id="'head-' + index" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-12 col-lg-10">
                            <span style="display: block !important;">
                              {{ (project.description && project.description.length > 0) ? project.description : 'Kendimi geliştirmek için yaptığım projedir.' }}
                            </span>
                            <span v-if="project.language && project.language.length > 0">
                              {{ project.language }} dili ağırlıklı olarak kullanılmıştır.
                            </span>
                          </div>
                          <div class="col-12 col-lg-2">
                              <a :href="project.html_url" target="_blank" class="btn btn-primary ms-auto btn-sm mt-2">GitHub'da İncele</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- YORUMLAR -->
        <div class="py-5" style="background: #E9EDF6;" id="yorumlar">
            <div class="container bg-white rounded p-1 p-md-5 border shadow">
                <h2 class="text-center fw-bold border-bottom mt-2">YORUMLAR</h2>
                <div class="m-5 text-center">
                    <label for="formControlTextarea" class="form-label text-secondary">Yorum yapmak ister misin?</label>
                    <input v-model="comments.title" type="text" class="form-control mt-4 mb-3" placeholder="Adınızı giriniz.">
                    <textarea v-model="comments.text" class="form-control" id="formControlTextarea" rows="3"></textarea>
                    <button type="button" @click="addComments" class="btn btn-primary w-100 mt-4">Yorum Yap</button>
                </div>
                <div class="list-group mx-1 mb-4 mx-md-5" v-for="(comment, index) in commentsPosts" :key="index">
                    <div class="list-group-item list-group-item-action shadow border-top my-3">
                        <div class="row">
                          <div class="col-12 col-lg-10">
                            <div class="row d-flex align-items-center">
                              <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-4 offset-md-0">
                                <img src="https://picsum.photos/200" class="w-75 rounded-circle" alt="photos">
                              </div>
                              <div class="col-10">
                                <h4 class="mt-3 mt-md-0"> {{ comment.title }} </h4>
                              </div>
                              <div class="col-12 col-md-8 offset-md-2 mt-1">
                                <p> {{ comment.text }} </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-8 offset-md-2 col-lg-2 offset-lg-0 d-flex align-items-center mb-3">
                            <div>
                                <button @click="deleteBtn(comment)" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
                        <div class="mt-5">
                            <ul class="list-group list-group-horizontal d-flex justify-content-evenly">
                                <li class="list-group-item border-0 bg-light">
                                    <a href="sercwnxd@gmail.com">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill" style="color: rgb(78, 78, 78);" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="p-4 text-center" style="background-color: rgb(78, 78, 78);">
            <small class="text-white font-monospace">Copyright © 2023</small>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
